#no-passwords {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 238, 255, 0.886);
}

#display-passwords {
  list-style: none;

  .password-div {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgb(37, 37, 37), rgb(0, 0, 0));

    input.read-only {
      border: none;
      background-color: transparent;
      outline: none;
    }

    input {
      border: 1px solid cyan;
      border-radius: 5px;
      padding: 5px;
      background-color: transparent;
      color: white;
      outline: none;
      font-size: 18px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .username .read-only {
        font-size: 22px;
        font-weight: bold;
      }

      .toggle-body {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: rgb(56, 56, 56);
        }
      }
    }

    .body {
      overflow: hidden;

      .password {
        .password-options {
          display: inline-block;

          button {
            font-size: 16px;
            margin: 0 10px;
          }
        }
      }
    }
  }

  .password-content {
    .field {
      font-size: 15px;
      font-weight: bold;
      color: rgba(0, 238, 255, 0.886);
      margin-bottom: 5px;
    }
  }

  .password-div.expand {
    .password-content {
      margin: 20px 0;
    }
  }

  .options {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
}
